<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Edit todo</title>
</head>
<body>
    <h1>Edit Todo</h1>
    <form action="#" th:action="@{'/todo/' + ${id} + '/edit'}" method="post" th:object="${todo}">
        <label for ="title">Todo Description:</label>
        <input type="text" name="title" id="title" th:field="*{title}"/>
        <label for="urgent">Urgent:</label>
        <input type="checkbox" id="urgent"  th:field="*{urgent}"/>
        <label for="done">Done:</label>
        <input type="checkbox" id="done"  th:field="*{done}"/>
        <input type="hidden" th:field="*{id}">
        <input type="submit" value="EDIT" />
    </form>
</body>
</html>